<template>
  <div>
    <Header title="Actor" />
    <div class="internal-container container"> 
        <mdb-col col="sm" class="card">
          <mdb-row>
            <mdb-col >
              <!-- <h5 class="mt-2 ml-4">Mapa de Actores</h5> -->
              <button @click="onExport" class="btn btn-primary btn-sm float-left"> <h6>Exportar</h6> </button>
            </mdb-col>
            <mdb-col style="display: flex">
              <p class="mt-2 mr-2">filtrar por:</p>
              <select class="browser-default custom-select mb-4" style="width: 70%" v-model="filtrar">
                <option selected value="nombre">Nombre</option>
                <option value="charge">Cargo</option>
                <option value="contacto">Contacto</option>
                <option value="email">Email</option>
                <option value="organization_type">Tipo de organización</option>
                <option value="institution">Institucion</option>
              </select>
            </mdb-col>
            <mdb-col class="my-form-inline" >
              <div class="input-group " >
                <div class="input-group-prepend">
                  <span class="input-group-text" style="border-radius: 25px 0px 0px 25px" id="basic-text1">
                    <mdbIcon icon="search"/>
                  </span>
                </div>
                  <input  class="form-control my-0 py-1" type="text" placeholder="Buscar" aria-label="Search" v-model="searchAuthority" >
              </div>
            </mdb-col>
          </mdb-row>
          <mdb-tbl >
            <mdb-tbl-head color="indigo" textWhite >
              <tr>
                <th></th>
                <th style="font-weight: bold">Nombre</th>
                <th>Cargo</th>
                <th>Contacto</th>
                <th>Email</th>
                <th style="font-weight: bold">Tipo de organización</th>
                <th>Institucion</th>
                <th><a @click="saveNewTask(dataAuthority)" ><mdb-icon icon="plus" /></a></th>
              </tr>
            </mdb-tbl-head>
            <mdb-tbl-body id="myTable">
              <tr v-for="(item, index) in dataAuthority" :key="dataAuthority[index].id" :id="'table_row_'+ dataAuthority[index].id" @change="onChange">
                <td><input type="checkbox"  :id=" 'checkbox_' + dataAuthority[index].id" :value="dataAuthority[index]" v-model="check"></td>
                <th class="nombre" style="font-weight: 400">{{item.name}}</th>
                <td class="charge">{{item.charge}}</td>
                <td class="contacto">{{item.contact}} </td>
                <td class="email">{{item.email}}</td>
                <th class="organization_type" style="font-weight: 400">{{item.organization_type}}</th>
                <td class="institution">{{item.institution}}</td>
              </tr>
            </mdb-tbl-body>
          </mdb-tbl>
        </mdb-col>
      
    </div>
    <mdb-modal  :show="modal"  @close="close">
      <mdb-modal-header class="text-center">
        <mdb-modal-title tag="h4" bold class="w-100">Agregar nuevo actor</mdb-modal-title>
      </mdb-modal-header>

        <mdb-modal-body class="text-center mx-1">
          
            <mdb-input placeholder="Nombre" :required="true" v-model="form.name" class="mb-3 mt-2">
              <span class="input-group-text md-addon" slot="prepend"><mdb-icon far icon="user" /></span>
            </mdb-input>
          
            <mdb-input placeholder="Cargo" :required="true"  v-model="form.charge" class="mb-3 mt-2">
              <span class="input-group-text md-addon" slot="prepend"><mdb-icon  icon="info" /></span>
            </mdb-input>

            <mdb-input placeholder="Datos de contacto" :required="true" type="text"  v-model="form.contact" class="mb-3 mt-2">
              <span class="input-group-text md-addon" slot="prepend"><mdb-icon  icon="phone-volume" /></span>
            </mdb-input>

            <mdb-input placeholder="Email" :required="false" type="email"  v-model="form.email" class="mb-3 mt-2">
              <span class="input-group-text md-addon" slot="prepend"><mdb-icon  icon="envelope-open" /></span>
            </mdb-input>

            <select class="browser-default custom-select mt-3 mb-3" v-model="form.organization_type">
              <option selected disabled>Tipo de organización</option>
              <option value="Autoridades Locales">Autoridad local</option>
              <option value="Seguridad y emergencia">Seguridad y emergencia</option>
              <option value="Organizaciones públicas / privadass">	Organizaciones públicas / privadas</option>
              <option value="	Org.Territoriales">	Org.Territoriales</option>
              <option value="Fundaciones u ONGs">Fundaciones u ONGs</option>
              <option value="Org. Funcionales">Org. Funcionales</option>
              <option value="Org. Ciudadanas">Org. Ciudadanas</option>
              <option value="Sin Org.">Sin Org.</option>
            </select>

            <mdb-input placeholder="Institucion" :required="false"  v-model="form.institution" class="mb-3 mt-2">
              <span class="input-group-text md-addon" slot="prepend"><mdb-icon  icon="university" /></span>
            </mdb-input>

          <mdb-modal-footer center>
            <mdb-btn color="secondary" @click.native="close">Cerrar</mdb-btn>
            <mdb-btn color="primary" @click="saveTask()" v-if="!edit">Guardar</mdb-btn>
            <mdb-btn color="primary" @click="editTask()" v-else>Editar</mdb-btn>
          </mdb-modal-footer>

        </mdb-modal-body>
    </mdb-modal>
  </div>
</template>

<script>
//import _ from 'lodash'
import axios from 'axios'
import exportFromJSON from 'export-from-json'
import Header from '@/components/Header'
import {mdbRow, mdbCol, mdbTbl, mdbTblHead, mdbTblBody, mdbIcon,mdbModal, mdbModalBody, mdbBtn, mdbInput, mdbModalTitle, mdbModalHeader, mdbModalFooter } from 'mdbvue';
export default {
  components: {
    Header,
    mdbRow,
    mdbCol,
    mdbTbl,
    mdbTblHead,
    mdbTblBody,
    mdbIcon,
    mdbModal,
    mdbModalBody,
    mdbModalTitle,
    mdbModalHeader,
    mdbModalFooter,
    mdbBtn,
    mdbInput
  },
  data () {
    return {
      edit: false,
      filtrar: 'nombre',
      check: [],
      form:{
        id: null,
        name: '',
        contact: '',
        charge: '',
        email: '',
        organization_type: 'Tipo de organización',
        institution: ''
      },
      arrayContain: null,
      modal: false,
      some: '',
      //inputs
      searchAuthority: '',
      searchSeg: '',
      searchOrgPub: '',
      searchFundOng: '',
      searchOrgTerr: '',
      searchOrgFunc: '',
      searchOrgCiud: '',
      searchNoOrg: '',
      //data Containers
      dataAuthority: [
        {id: 1, name: 'Carlos Maya', charge: 'Alcalde', contact: '', email: '', organization_type: 'Autoridad local', institution: 'Alcaldia'},
        {id: 2, name: 'Sergio Trejo', charge: 'Subdirector de tránsito Pereira', contact: '+56 987654321', email: 'some@email.com', organization_type: 'Autoridad local', institution: 'Alcaldia'},
        {id: 3, name: 'Carlos Maya', charge: 'Alcalde', contact: '', email: '', organization_type: 'Salud y Emergencia', institution: 'Alcaldia'},
        {id: 4, name: 'Sergio Trejo', charge: 'Subdirector de tránsito Pereira', contact: '+56 987654321', email: 'some@email.com', organization_type: 'Salud y Emergencia', institution: 'Alcaldia'},
        {id: 5, name: 'Carlos Maya', charge: 'Alcalde', contact: '', email: '', organization_type: 'Org. públicas / privadas', institution: 'Alcaldia'},
        {id: 6, name: 'Sergio Trejo', charge: 'Subdirector de tránsito Pereira', contact: '+56 987654321', email: 'some@email.com', organization_type: 'Org. públicas / privadas', institution: 'Alcaldia'},
        {id: 7, name: 'Carlos Maya', charge: 'Alcalde', contact: '', email: '', organization_type: 'Org. Territoriales', institution: 'Alcaldia'},
        {id: 8, name: 'Sergio Trejo', charge: 'Subdirector de tránsito Pereira', contact: '+56 987654321', email: 'some@email.com', organization_type: 'Org. Territoriales', institution: 'Alcaldia'},
        {id: 9, name: 'Carlos Maya', charge: 'Alcalde', contact: '', email: '', organization_type: 'Fundaciones u ONGs', institution: 'Alcaldia'},
        {id: 10, name: 'Sergio Trejo', charge: 'Subdirector de tránsito Pereira', contact: '+56 987654321', email: 'some@email.com', organization_type: 'Fundaciones u ONGs', institution: 'Alcaldia'},
        {id: 11, name: 'Carlos Maya', charge: 'Alcalde', contact: '', email: '', organization_type: 'Org. Funcionales', institution: 'Alcaldia'},
        {id: 12, name: 'Sergio Trejo', charge: 'Subdirector de tránsito Pereira', contact: '+56 987654321', email: 'some@email.com', organization_type: 'Org. Funcionales', institution: 'Alcaldia'},
        {id: 13, name: 'Carlos Maya', charge: 'Alcalde', contact: '', email: '', organization_type: 'Org. Ciudadanas', institution: 'Alcaldia'},
        {id: 14, name: 'Sergio Trejo', charge: 'Subdirector de tránsito Pereira', contact: '+56 987654321', email: 'some@email.com', organization_type: 'Org. Ciudadanas', institution: 'Alcaldia'},
        {id: 15, name: 'Carlos Maya', charge: 'Alcalde', contact: '', email: '', organization_type: 'Sin Org.', institution: 'Alcaldia'},
        {id: 16, name: 'Sergio Trejo', charge: 'Subdirector de tránsito Pereira', contact: '+56 987654321', email: 'some@email.com', organization_type: 'sin Org.', institution: 'Alcaldia'},
      ],
      dataSeg: [
        {name: 'Carlos Maya', charge: 'Alcalde'},
        {name: 'Sergio Trejo', charge: 'Subdirector de tránsito Pereira - 3113723743'}
      ],
      dataOrgPub: [
        {name: 'Carlos Maya', charge: 'Alcalde'},
        {name: 'Sergio Trejo', charge: 'Subdirector de tránsito Pereira - 3113723743'}
      ],
      dataFundOng: [
        {name: 'Carlos Maya', charge: 'Alcalde'},
        {name: 'Sergio Trejo', charge: 'Subdirector de tránsito Pereira - 3113723743'}
      ],
      dataOrgTerr: [
        {name: 'Carlos Maya', charge: 'Alcalde'},
        {name: 'Sergio Trejo', charge: 'Subdirector de tránsito Pereira - 3113723743'}
      ],
      dataOrgFunc: [
        {name: 'Carlos Maya', charge: 'Alcalde'},
        {name: 'Sergio Trejo', charge: 'Subdirector de tránsito Pereira - 3113723743'}
      ],
      dataOrgCiud: [
        {name: 'Carlos Maya', charge: 'Alcalde'},
        {name: 'Sergio Trejo', charge: 'Subdirector de tránsito Pereira - 3113723743'}
      ],
      dataNoOrg: [
        {name: 'Carlos Maya', charge: 'Alcalde'},
        {name: 'Sergio Trejo', charge: 'Subdirector de tránsito Pereira - 3113723743'}
      ]
    }
  },
  created: function () {
    window.onRemove = this.onRemove
    window.onEdit = this.onEdit
    //this.debouncedGetAnswer = _.debounce(this.getAnswer, 500)
  },
  mounted () {
    this.importData()
  },
  methods: {
    async importData () {
      await axios.get('http://localhost:3000/api/actors')
            .then(res => {
              this.dataAuthority = res.data
              console.log(res.data)
            })
            .catch(err => console.log(err))
    },
    onExport () {
      const data = this.dataAuthority
      const date = new Date()
      const fileName = 'mapa_de_actores_' + date
      const exportType = 'xls'
  
      exportFromJSON({ data, fileName, exportType })
    },
    close () {
      this.modal = false 
      this.edit = false
      this.form.id = null
      this.form.name = ''
      this.form.contact = ''
      this.form.charge = '',
      this.form.email = '',
      this.form.organization_type = 'Tipo de Autoridad',
      this.form.institution = ''
    },
    onChange (evt) {
      var tr = evt.path[2]
      tr.classList.toggle('select_row')
      var is_selected_already = document.getElementById('td_action' + evt.target.id)
      if (is_selected_already) {
        is_selected_already.parentNode.removeChild(is_selected_already)
      } else {
        var a = document.createElement('a')
        var a_remove = document.createElement('a')

        var td = document.createElement('td')
        td.id = 'td_action' + evt.target.id

        var i = document.createElement('i')
        i.classList = 'fas fa-trash mr-3'
        a.append(i) 
        a.setAttribute("onclick",`onRemove(${evt.target.id})`);
      
        var i_remove = document.createElement('i')
        i_remove.classList = 'fas fa-pen'
        a_remove.append(i_remove)

        a_remove.setAttribute("onclick",`onEdit(${evt.target.id})`);

        td.innerHTML += a.outerHTML + a_remove.outerHTML 
        tr.append(td)
      }
      
    },
    async onRemove (el)  {
      const str2 = el.id.replace('checkbox_', '');
      const find = this.dataAuthority.find(e => e.id === parseInt(str2))
      //revisar que sucede del lado del servidor que arroja error
      await fetch('http://localhost:3000/api/actors/' + find.id, {
          method: 'DELETE',
        })
        .then(res => console.log(res))
        .catch(er => console.log(er))

      this.dataAuthority.splice(this.dataAuthority.indexOf(find), 1)

      
    },
    onEdit (el) {
      const str2 = el.id.replace('checkbox_', '');
      const find = this.dataAuthority.find(e => e.id === parseInt(str2))
      this.form.id = find.id
      this.form.name = find.name
      this.form.contact = find.contact
      this.form.charge = find.charge
      this.form.email = find.email
      this.form.organization_type = find.organization_type
      this.form.institution = find.institution
      this.edit = true
      this.modal = true
    },
    saveNewTask(array) {
      this.modal = true
      this.arrayContain = array
    },
    async editTask() {
      const find = this.dataAuthority.find(e => e.id === this.form.id)

      find.id = this.form.id,
      find.name = this.form.name,
      find.charge = this.form.charge,
      find.contact = this.form.contact,
      find.email =  this.form.email,
      find.organization_type = this.form.organization_type,
      find.institution = this.form.institution

      console.log(find)
      await axios.put(`http://localhost:3000/api/actors/${find.id}`, {
        params: find
      } )
        .then(res => console.log(res))
        .catch(er => console.log(er))

      this.modal = false
      this.arrayContain = null
      this.form.id = null
      this.form.name = ''
      this.form.contact = ''
      this.form.charge = '',
      this.form.email = '',
      this.form.organization_type = 'Tipo de Autoridad',
      this.form.institution = ''
    },
    async saveTask() {
      if (this.form.name === '') {
        alert('nombre requerido')
      } else if (this.form.contact === '') {
        alert('contacto requerido')
      } else{
        this.form.id = this.form.id === null ? this.dataAuthority.length + 1 : this.form.id
        let obj = {
          id: this.form.id,
          name: this.form.name,
          charge: this.form.charge,
          contact: this.form.contact,
          email: this.form.email,
          organization_type: this.form.organization_type,
          institution: this.form.institution
        }
        this.dataAuthority.push(obj)

        //de momento damos el period_id estaticamente
        obj.period_id = 1

        await axios.post('http://localhost:3000/api/actors', {
          params: obj
        } )
          .then(res => console.log(res))
          .catch(er => console.log(er))

        
        this.dataAuthority.sort(function (a, b) {
          if (a.organization_type > b.organization_type) {
            return 1;
          }
          if (a.organization_type < b.organization_type) {
            return -1;
          }
          // a must be equal to b
          return 0;
        });
        this.modal = false
        this.arrayContain = null
        this.form.id = null
        this.form.name = ''
        this.form.contact = ''
        this.form.charge = '',
        this.form.email = '',
        this.form.organization_type = 'Tipo de Autoridad',
        this.form.institution = ''
      }
    }
  },
  watch: {
    searchAuthority: function(first){
      var filter, table, tr, td, i, txtValue;
      filter = first.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByClassName(`${this.filtrar}`)[0];
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
          } else {
              tr[i].style.display = "none";
          }
      }
    },
    // check: function (CHECK) {
    //   if (CHECK[0]) {
    //     console.log('check')
    //   }
    // }
  
  },

}
</script>

<style>
body {
  color: rgb(90, 84, 84)
}
.internal-container {
  padding: 10px
}
.internal-row {
  margin-top: 1rem
}
.my-form-inline {
  margin-bottom: 0.5em;
}
.my-form-inline .md-form {
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}
.my-form-inline .md-form .form-control {
  padding: 0;
  margin-left: 0.5rem;
  width: 140%;
}
h4 {
  text-align: justify;
}
h5 {
  text-align: justify;
}
.internal-container .card {
  margin: 0.6rem;
  padding: 10px;
  border-radius: 10px;
}
.select_row {
  background-color: #eeeeee;
}
</style>