<template>
  <div class="home">
    <mdb-alert color="warning" v-if="dataError" @closeAlert="dataError=false" dismiss>
        <strong>Error al traer la data!</strong> {{error}}.
      </mdb-alert>
    <Select />
  </div>
</template>

<script>

import { mapMutations } from 'vuex'
import axios from 'axios'
import Select from '@/components/Select'
import {mdbAlert} from 'mdbvue';
export default {
  name: 'Home',
  components: {
    Select,
    mdbAlert
  },
  data () {
    return {
      dataError: false,
      error: ''
    }
  },
  mounted () {
    this.imports()
  },
  methods: {
      ...mapMutations([
      'setData', // map `this.setData()` to `this.$store.commit('setData')`
      ]),
      async imports () {
        await axios.get('http://localhost:3000/api/establishments')
          .then(res => {
            this.setData(res.data)
          })
          .catch(err => {
            this.dataError=true
            this.error = err
          })
      }
  }
}
</script>
