<template>
  <div>
    <Header title="Riesgo" />
    <section class="container">
      <mdb-alert color="warning" v-if="dataError" @closeAlert="dataError=false" dismiss>
        <strong>Error al traer la data!</strong> {{error}}.
      </mdb-alert>
      <div class="row mt-4">
        <div class="col" >
          <select class="browser-default custom-select mt-2" style="width: 70%; border-radius: 15px" v-model="year">
            <option selected disabled>Selecciona un año</option>
            <option value="2021">2021</option>
            <option value="2020">2020</option>
            <option value="2019">2019</option>
            <option value="2018">2018</option>
          </select>
        </div>
        <div class="col">
          <select 
            class="browser-default custom-select mt-2" 
            style="width: 70%; border-radius: 15px" 
            v-model="activo"
          >
              <option selected disabled>Selecciona un activo</option>
              <option 
                v-for="(item, index) in $store.state.data"
                :key="index"
                :value="item.id" 
              > {{item.name}} </option>
          </select>  
        </div>
        <div class="col">
          <button class="btn btn-primary" style="border-radius: 15px" @click="modalInfo = true">Más información</button>
        </div>
      </div>
      <div  class="table-container" >
        <div class="title-head-container indigo z-depth-2">
          <h3 style="text-align: left; position: relative;">I. Impactos</h3>
        </div>
          <mdb-collapse style="position:relative; margin-top:2rem" :toggleTag="['button']" :togglers="1" :toggleClass="['btn btn-primary', 'btn-toggle', 'my-btn']" :toggleText="[``]">
            <mdb-tbl>
              <mdb-tbl-head color="indigo" textWhite>
                <tr>
                  <th style="text-align: justify;">Impacto de la operación del activo</th>
                  <th>Nivel de impacto</th>
                  <th>Puntaje</th>
                </tr>
              </mdb-tbl-head>
              <mdb-tbl-body >
                <tr v-for="(item, index) in dataImp" :key="index">
                  <td style="text-align: justify;"> {{item.descripcion}} </td>
                  <td> 
                    <select 
                      class="custom-select custom-select-sm" 
                      v-model="item.select"
                      @change="onChange($event, item.id)"
                    >
                      <option selected> {{item.select}} </option>
                      <option value="Alto">Alto</option>
                      <option value="Medio">Medio</option>
                      <option value="Bajo / Nulo">Bajo / Nulo</option>
                    </select>
                  </td>
                  <td> <input class="form-control" style="text-align: center" type="number" v-model="item.puntaje"> </td>
                </tr>
              </mdb-tbl-body>
              <mdb-tbl-head color="indigo" textWhite> 
                <tr>
                  <th style="background: white;"></th>
                  <th>Total inpacto</th>
                  <th style="font-weight: bold"> {{getTotal(dataImp)}} </th>
                </tr>
              </mdb-tbl-head>
            </mdb-tbl>
          </mdb-collapse>
      </div>

      <div class="table-container" >
        <div class="title-head-container indigo z-depth-2">
          <h3 style="text-align: left; position: relative;">II. Ponderador de impactos: Tipo de vecinos</h3>
        </div>
          <mdb-collapse style="position:relative; margin-top:2rem" :toggleTag="['button']" :togglers="1" :toggleClass="['btn btn-primary', 'btn-toggle', 'my-btn']" :toggleText="['']">
            <mdb-tbl>
              <mdb-tbl-head color="indigo" textWhite>
                <tr>
                  <th style="text-align: justify;">El proyecto o activo tiene vecinos...</th>
                  <th>Sí / No</th>
                  <th>Ponderador</th>
                </tr>
              </mdb-tbl-head>
              <mdb-tbl-body >
                <tr v-for="(item, index) in dataVec" :key="index">
                  <td style="text-align: justify;"> {{item.descripcion}} </td>
                  <td> 
                    <select 
                      class="custom-select custom-select-sm" 
                      v-model="item.select" 
                      @change="onChange($event, item.id)"
                    >
                      <option selected> {{item.select}} </option>
                      <option value="Si">Si</option>
                      <option value="No">No</option>
                    </select>
                  </td>
                  <td> <input class="form-control" style="text-align: center" type="number" v-model="item.puntaje"> </td>
                </tr>
              </mdb-tbl-body>
              <mdb-tbl-head color="indigo" textWhite> 
                <tr>
                  <th style="background: white;"></th>
                  <th>Total inpacto</th>
                  <th style="font-weight: bold">{{getTotal(dataVec)}}</th>
                </tr>
              </mdb-tbl-head>
            </mdb-tbl>
          </mdb-collapse>
      </div>

      <div class="table-container">
        <div class="title-head-container indigo z-depth-2">
          <h3 style="text-align: left; position: relative;">III. Características del Área de Influencia</h3>
        </div>
          <mdb-collapse style="position:relative; margin-top:2rem" :toggleTag="['button']" :togglers="1" :toggleClass="['btn btn-primary', 'btn-toggle', 'my-btn']" :toggleText="['']">
            <mdb-tbl>
              <mdb-tbl-head color="indigo" textWhite>
                <tr>
                  <th style="text-align: justify;">Impactos sinérgicos en la zona</th>
                  <th>Relevancia</th>
                  <th>Puntaje</th>
                </tr>
              </mdb-tbl-head>
              <mdb-tbl-body >
                <tr v-for="(item, index) in importedData.length > 0 ? importedData : dataInf " :key="index">
                  <td style="text-align: justify;"> {{item.descripcion}} </td>
                  <td> 
                    <select 
                      class="custom-select custom-select-sm" 
                      v-model="item.select"
                      @change="onChange($event, item.id)"
                    >
                      <option selected> {{item.select}} </option>
                      <option value="Alto">Alto</option>
                      <option value="Medio">Medio</option>
                      <option value="Bajo / Nulo">Bajo / Nulo</option>
                    </select>
                  </td>
                  <td> <input class="form-control" style="text-align: center" type="number" v-model="item.puntaje"> </td>
                </tr>
              </mdb-tbl-body>
              <mdb-tbl-head color="indigo" textWhite> 
                <tr>
                  <th style="background: white;"></th>
                  <th>Total inpacto</th>
                  <th style="font-weight: bold">{{getTotal(dataInf)}}</th>
                </tr>
              </mdb-tbl-head>
            </mdb-tbl>
          </mdb-collapse>
      </div>

      <div class="table-container">
        <div class="title-head-container z-depth-2" v-bind:class="color"> 
          <h3 style="text-align: left; position: relative;">Evaluación de Impactos Comunitarios:</h3>
        </div>
          <mdb-collapse style="position:relative; margin-top:2rem" :toggleTag="['button']" :togglers="1" :toggleClass="['btn btn-primary', 'btn-toggle', 'my-btn']" :toggleText="['']">
            <mdb-tbl style="padding: 0.5rem 2rem 0.5rem 2rem">
              <mdb-tbl-head :color="color" textWhite>
                <tr>
                  <th>TI</th>
                  <th>P</th>
                  <th>AI</th>
                  <th>Total</th>
                  <th>Riesgo</th>
                </tr>
              </mdb-tbl-head>
              <mdb-tbl-body >
                <tr>
                  <td class="text-bold ">{{getTotal(dataImp)}}</td>
                  <td class="text-bold ">{{getTotal(dataVec)}}</td>
                  <td class="text-bold ">{{getTotal(dataInf)}}</td>
                  <td  class="text-bold ">{{getTotal(dataImp) + getTotal(dataVec) + getTotal(dataInf) }}</td>
                  <td class="text-bold ">{{ getStringResult() }}</td>
                </tr>
              </mdb-tbl-body>
              <mdb-tbl-body >
                <tr>
                  <td colspan="3" style="background-color: green; color: white">Impacto Bajo</td>
                  <td  class="text-bold">0 - 15</td>
                  <td></td>
                </tr>
              </mdb-tbl-body>
              <mdb-tbl-body >
                <tr>
                  <td colspan="3" style="background-color: orange; color: white">Impacto Medio</td>
                  <td class="text-bold ">16 - 25</td>
                  <td></td>
                </tr>
              </mdb-tbl-body>
              <mdb-tbl-body style="padding-top: 1rem !important">
                <tr >
                  <td colspan="3" style="background-color: red; color: white;">Impacto Alto</td>
                  <td class="text-bold ">26 - 97</td>
                  <td></td>
                </tr>
              </mdb-tbl-body>
              <mdb-tbl-body >
                <tr>
                  <td colspan="3">Puntaje minimo</td>
                  <td class="text-bold ">0</td>
                  <td></td>
                </tr>
              </mdb-tbl-body>
              <mdb-tbl-body >
                <tr>
                  <td colspan="3">Puntaje maximo</td>
                  <td class="text-bold ">97</td>
                  <td></td>
                </tr>
              </mdb-tbl-body>
            </mdb-tbl>
          </mdb-collapse>
      </div>

      <div>
        <!-- modal informacion -->
        <mdb-modal size="lg" :show="modalInfo" @close="modalInfo = false">
            <mdb-modal-header>
              <mdb-modal-title>Matriz de Riesgo Comunitario</mdb-modal-title>
            </mdb-modal-header>
            <mdb-modal-body style="text-align: justify">
              <p>Esta matriz busca asignar a cada proyecto o activo de Parque Arauco un puntaje que permita evaluar la pertinencia de determinada estrategia de relacionamiento comunitario. </p>
              <p>El puntaje está compuesto por:</p>
              <tablePage />
            </mdb-modal-body>
            <mdb-modal-footer>
                <mdb-btn color="primary" size="sm" @click.native="modalInfo = false">Close</mdb-btn>
            </mdb-modal-footer>
        </mdb-modal>
        <!-- modal Update -->
        <mdb-modal :show="modalPut" @close="modalPut = false">
          <mdb-modal-header>
            <mdb-modal-title>¿Desea Actualizar?</mdb-modal-title>
          </mdb-modal-header>
          <mdb-modal-body>
            Acaba de realizar cambios en: <br /> {{
            dataUpdated !== undefined 
            ? dataUpdated.categoria === 1 
                ? 'Impactos' 
                : dataUpdated.categoria === 2 
                  ? 'Ponderador de impactos: Tipo de vecinos' 
                : 'Características del Área de Influencia'
            : ''
            }}
            </mdb-modal-body>
          <mdb-modal-footer>
            <mdb-btn color="secondary" @click.native="modalPut = false">Cancelar</mdb-btn>
            <mdb-btn color="primary" @click.native="updateData">Guardar</mdb-btn>
          </mdb-modal-footer>
        </mdb-modal>
      </div>
    </section>
  </div>
</template>

<script>
import axios from 'axios'
import tablePage from '@/components/Info.vue'
import Header from '@/components/Header'
import { mdbTbl, mdbTblHead, mdbTblBody, mdbCollapse, mdbModal, mdbModalHeader, mdbModalTitle, mdbModalBody, mdbModalFooter, mdbBtn, mdbAlert  } from 'mdbvue';
export default {
  components: {
    tablePage,
    Header,
    mdbTbl,
    mdbTblHead,
    mdbTblBody,
    mdbCollapse,
    mdbModal,
    mdbModalHeader,
    mdbModalTitle,
    mdbModalBody,
    mdbModalFooter,
    mdbBtn,
    mdbAlert
  },
  data () {
    return {
      modalInfo: false,
      year: 'Selecciona un año',
      activo: 'Selecciona un activo',
      color: 'orange',
      dataImp: [
        // {
        //   descripcion: 'Aumento de congestión vehicular',
        //   select: 'Medio',
        //   puntaje: 1
        // },
        // {
        //   descripcion: 'Afectación a la seguridad del entorno',
        //   select: 'Medio',
        //   puntaje: 1
        // },
        // {
        //   descripcion: 'Ruidos (tránsito y descarga de camiones, equipos de clima o electrógenos, otras fuentes de ruido)',
        //   select: 'Medio',
        //   puntaje: 1
        // },
        // {
        //   descripcion: 'Contaminación visual (bloqueo de vista o presencia de luces molestas)',
        //   select: 'Bajo/Nulo',
        //   puntaje: 1
        // },
        // {
        //   descripcion: 'Residuos y olores asociados a la operación',
        //   select: 'Medio',
        //   puntaje: 1
        // },
        // {
        //   descripcion: 'Horarios de construcción extendidos',
        //   select: 'Medio',
        //   puntaje: 1
        // },
        // {
        //   descripcion: 'Ruidos y vibraciones de faenas',
        //   select: 'Medio',
        //   puntaje: 1
        // },
      ],
      dataVec: [
        // {
        //   descripcion: 'Colindantes - Casa(s) o edificio(s) residencial(es)',
        //   select: 'No',
        //   puntaje: 0
        // },
        // {
        //   descripcion: 'Colindantes - No residenciales (comercio, oficinas, industrias)',
        //   select: 'No',
        //   puntaje: 0
        // },
        // {
        //   descripcion: 'No colindantes o separados por una calle o pasaje - Residenciales',
        //   select: 'Si',
        //   puntaje: 2
        // },
        // {
        //   descripcion: 'No colindantes o separados por una calle o pasaje - No residenciales',
        //   select: 'Si',
        //   puntaje: 1
        // }
      ],
      dataInf: [
        // {
        //   descripcion: 'El centro comercial se encuentra en una zona con problemas de congestión vehicular ',
        //   select: 'Alta',
        //   puntaje: 1
        // },
        // {
        //   descripcion: 'El centro comercial se encuentra en una zona con problemas de seguridad o actividades delictuales',
        //   select: 'Baja',
        //   puntaje: 2
        // },
        // {
        //   descripcion: 'Zona en la que Parque Arauco ha tenido conflictos con trabajadores internos o proveedores',
        //   select: 'Baja',
        //   puntaje: 0
        // }
      ],
      importedData: [],
      selectedYear: undefined,
      error: '',
      dataError: false,
      modalPut: false,
      dataUpdated: undefined
    }
  },
  methods: {
    onChange (evt, id) {
      //on change toma los cambios en los selects para posteriormente enviar esa data al update, se debe pensar en el flujo
      let data = this.importedData[0].find(e => e.id === id )
      data.select = evt.target.value
      this.dataUpdated = data
      this.modalPut = true
    },
    async updateData () {
      //esta ruta aun no esta definida consultar con igor la forma para hacer el put segun el id del item
      const config = { headers: {'Content-Type': 'application/json'} };
      await axios.put(`http://localhost:3000/api/establishments/1/risks?year=${this.selectedYear}`, 
        JSON.stringify(this.dataUpdated), 
        config 
      )
        .then(res => {
          this.modalPut = false
          console.log(res)
        })
        .catch(err => {
          this.dataError=true
          this.error = err
          this.modalPut = false
        })
    },
    async imports (establishmentId, year) {
      console.log(establishmentId, year)
      this.selectedYear = year
      await axios.get(`http://localhost:3000/api/establishments/${establishmentId}/risks?year=${year}`)
        .then(res => {
          this.importedData = res.data
          this.dataInf = res.data[0].filter(e => e.categoria === 3)
          this.dataVec = res.data[0].filter(e => e.categoria === 2)
          this.dataImp = res.data[0].filter(e => e.categoria === 1)
        })
        .catch(err => {
          this.dataError=true
          this.error = err
        })
    },
    getTotal (array) {
      let acumulador = 0
      array.forEach(element => {
        acumulador = acumulador + (element.puntaje === '' ?  0 : parseInt(element.puntaje))
      })
      return acumulador
    },
    getStringResult () {
      let total = this.getTotal(this.dataImp) + this.getTotal(this.dataVec) + this.getTotal(this.dataInf)
      if( total >= 0 && total <= 15 ) {
        this.color = 'green'
        return 'Bajo'
      }
      if( total >= 16 && total <= 25 ) {
        this.color = 'orange'
        return 'Medio'
      }
      if( total >= 26 && total <= 97 ) {
        this.color = 'red'
        return 'Alto'
      }
      
    },
  },
  mounted (){
      var btn = document.getElementsByClassName('my-btn')
      btn.forEach(e => {
        var i = document.createElement('i')
        i.classList = 'fas fa-caret-down'
        e.append(i)
      })
  },
    watch: {
      activo: function (first) {
        const title = this.$store.state.data.find(e => e.id === first)
        this.$store.state.title = title.name
      },
      year: function (year) {
        //actualmente el state de title esta solo como un string, luego deberia aplicarse la logica para buscar el id y llamarlo para utilizarlo en el import
        if (this.$store.state.title) {
          let establishment = this.$store.state.data.find(e => e.name === this.$store.state.title)
          this.imports(establishment.id, year)
        }
      },

    }

  }
</script>

<style>
.text-bold {
  font-weight: bold; 
  color: #91918e
}
.title-head-container {
  color:white;
  height: 3rem;
  border-radius: 25px 25px 20px 20px;
  padding-left: 25px;
  padding-top: 6px;
}
.btn-toggle {
  position: absolute;
  top: -86px;
  right: 10px;
  border-radius: 150%;
  padding: 0px 14px 0px 14px !important;
  font-weight: bold;
  font-size: 2rem;
}
.table-container {
  padding: 20px;
}

@media (max-width: 600px) {
  .table-container {
    padding: 20px;
  }
}
@media (min-width: 600px) {
  .table-container {
    padding: 30px 5vw 20px 5vw;
  }
}
</style>